@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name = "viewport" content="width=device-width"/>
    <title>Party!</title>
</head>
<body>
    <div>
        <div>
            We are going to have fucking blast of party!! <br/>
            (Todo: Sell it better, make it dope with some pics or sum)
        </div>
        <a asp-action="RsvpForm">RSVP Now</a> <!-- We are linking the RsvpForm View to the index view -->
    </div>
</body>
</html>
